header {
    background: linear-gradient(to top, hsl(263, 84%, 58%), #0f112c); /* Gradient background for a soft look */
    color: white;
    padding: 10px;
    text-align: center;
  }

  header h1 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }